Options -Indexes

<IfModule mod_rewrite.c>

RewriteBase /vod
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?action=$1 [PT,L]

</IfModule>